:root {
  --bold-navy: #0e1944;
  --main-navy: #3a487f;
  --sub-navy: #838eb9;
  --white: #f5f5f5;
  --main-gray: #a9a9a9;
  --sub-gray: #878787;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.aboutWrapper {
  width: 100vw;
  height: 100vh;
}

.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
